<body>
<div class="container">
    <header>
        <h1>Todo List</h1>
    </header>
    <div>
        <form class="new-task">
            <input type="text" name="text" placeholder="Type to add new tasks"/>
        </form>
    </div>
    <div>
        <ul>
            {{#each tasks}}
                {{> task}}
            {{/each}}
        </ul>
    </div>
</div>

</body>